@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;800&family=Cabin:wght@600;700&family=Kanit:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&family=Ruwudu:wght@600&family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;800&family=Cabin:wght@600;700&family=Crimson+Text:wght@600&family=EB+Garamond&family=Exo+2:wght@600&family=Josefin+Sans:wght@600&family=Kanit:wght@400;500;600;700&family=Noto+Serif+Vithkuqi:wght@600&family=Raleway:wght@100;200;300&family=Roboto+Condensed:wght@400;700&family=Ruwudu:wght@600&family=Ubuntu:wght@500&family=Work+Sans:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;800&family=Cabin:wght@600;700&family=Kanit:wght@400;500;600;700&family=Noto+Serif+Vithkuqi:wght@600&family=Roboto+Condensed:wght@400;700&family=Ruwudu:wght@600&family=Ubuntu:wght@500&family=Work+Sans:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;800&family=Cabin:wght@600;700&family=Crimson+Text:wght@600&family=EB+Garamond&family=Exo+2:wght@600&family=Josefin+Sans:wght@600&family=Kanit:wght@400;500;600;700&family=Noto+Serif+Vithkuqi:wght@600&family=Roboto+Condensed:wght@400;700&family=Ruwudu:wght@600&family=Ubuntu:wght@500&family=Work+Sans:wght@100;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Noto+Sans+Mongolian&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Noto+Sans+Mongolian&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Noto+Sans+Mongolian&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.sec-gap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-gap h1 {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 3rem;
  letter-spacing: 7px;
  line-height: 60px;
}

.about {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  gap: 30px;
  /* min-height: 100vh; */
}

.about-rev {
  align-items: center !important;
}

.about-vertical {
  flex-direction: column;
}

.about .image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about .image img {
  width: auto;
  height: 300px;
  border-radius: 5px;
}

.about .image .img1 {
  width: auto;
  height: 600px !important;
  border-radius: 5px;
}

.about .content {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: min-content;
}

.about .content .title {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: "Gupter", serif;
  /* font-family: "Roboto Condensed", sans-serif; */
  /* font-family: "Roboto", sans-serif; */

  font-size: 2.8rem;
  letter-spacing: 1px;
  line-height: 40px;
  color: #00051b;

  margin-bottom: 20px;
}

.about .content .title span {
  font-family: "Gupter", serif;

  /* font-size: 2.8rem; */
}

.about .content p {
  font-family: "Nunito Sans", sans-serif;

  color: #6d6e70;
  font-size: 1.1rem;
  line-height: 30px;
}

.about .content .paraImageCombo {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.about .content .paraImageCombo img {
  width: auto;
  height: 300px;
  border-radius: 10px;
}

.about .content ul {
  font-family: "Nunito Sans", sans-serif;
  color: #6d6e70;
  font-size: 1rem;
  line-height: 30px;
  padding-left: 30px;
  position: relative;
  bottom: 10px;
}

.about .content table {
  font-family: "Nunito Sans", sans-serif;
  color: #6d6e70;
  font-size: 1.1rem;
  line-height: 30px;

  width: 60vw;
  margin: 0 auto;
}

.about .content table tr td,
.about .content table tr th {
  text-align: left;
  vertical-align: top;
}

.about .content table tr th {
  font-family: "Gupter", serif;
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-weight: 800;
}

.about .sideScroll {
  max-height: 70vh;
  overflow-y: scroll;
  min-width: 40%;

  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;

  padding: 10px;
}

.about .sideScroll .scrollItem .scrollTitle {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px;
  line-height: 25px;
  color: #757677;
  margin-bottom: 10px;
}

.about .sideScroll .scrollItem ul {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px;
  line-height: 25px;
  color: #757677;
  padding-left: 30px;
  text-wrap: wrap;
}

.about .cardHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;

  justify-content: space-evenly;

  padding: 10px;
  width: 100%;

  margin-top: 10px;
}

.about .cardHolder .cardItem {
  width: 45%;
}

.about .cardHolder .cardItem .cardTitle {
  font-family: "Gupter", serif;
  font-size: 1.3rem;
  letter-spacing: 3px;
  line-height: 25px;
  color: #00051b;
  margin-bottom: 20px;
}

.about .cardHolder .cardItem ul {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 25px;
  color: #6d6e70;
  padding-left: 30px;
  text-wrap: wrap;
}

@media (max-width: 1024px) {
  .sec-gap h1 {
    font-size: 1.5rem;
    line-height: 30px;
  }

  .about {
    flex-wrap: wrap;
    gap: 50px;
  }

  .about-rev {
    flex-wrap: wrap-reverse;
  }

  .about .image {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
  }

  .about .image img {
    height: auto;
    width: 80vw;
  }

  .about .content {
    text-align: justify;
    font-size: 1.5rem;
    letter-spacing: 4px;
    line-height: 40px;

    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .about .content table {
    width: 100%;
  }

  .about .content .paraImageCombo {
    flex-wrap: wrap;
    gap: 30px;
  }

  .about .content .paraImageCombo img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 428px) {
  .sec-gap h1 {
    font-size: 1.5rem;
    line-height: 30px;
  }

  .about .content {
    text-align: justify;
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    line-height: 35px;

    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .about .content .title {
    text-align: left;
  }

  .about .cardHolder .cardItem {
    width: 100%;
  }
}