@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;800&family=Cabin:wght@600;700&family=Kanit:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&family=Ruwudu:wght@600&family=Work+Sans:wght@100&display=swap');

.about {
  height: 100vh;
}

.about h1 {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 3rem;

}

@media (max-width: 428px) {
  .about h1 {
    font-size: 1.5rem;
  }
}