@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;800&family=Cabin:wght@600;700&family=Kanit:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&family=Ruwudu:wght@600&family=Work+Sans:wght@100&display=swap');

.sec-con {
  width: 90vw;
  min-width: 90%;
  position: relative;
  background: rgba(0, 0, 0, 0.09);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: saturate(100%) blur(4.2px);
  -webkit-backdrop-filter: saturate(180%) blur(4.2px);
  /* border: 1px solid rgba(255, 255, 255, 0.02); */
  padding: 10px;
  outline: 15px solid hsla(0, 49%, 10%, 0.04);
  outline-offset: -7.5px;
  overflow-x: hidden;
}

.about {
  height: 80vh;
  margin-top: 20vh;
}

.about h1 {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 3rem;

}

@media (max-width: 428px) {
  .about h1 {
    font-size: 1.5rem;
  }
}