* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: #000;
  font-family: Arial;
  width: 100vw;
  overflow-x: hidden;
}

/* Hero Animation*/
.stars,
.twinkling,
.clouds {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: 0;
  background: transparent url("../../assets/images/background_1.png") repeat top center;
}

.twinkling {
  z-index: 0;
  background: transparent url("../../assets/images/background_2.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 1;
  pointer-events: none; /* This prevents the clouds from capturing mouse events */

  /* Use multiple background images for variation */
  background: transparent url("../../assets/images/background_3.png") repeat top center;
  background-size: auto;
  animation: move-clouds-back 100s linear infinite; /* Additional random movement */
  opacity: 0.65;
}

/* .hero .clouds:first-child{
} */

.hero .clouds:last-child{
  animation:move-clouds-back2 80s cubic-bezier(.46,.03,.52,.96) infinite /* Additional random movement */
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0; /* Adjust this value based on your image size */
  }
}

@keyframes move-clouds-back2 {
  from {
    background-position: 500px 0;
  }
  to {
    background-position: -10000px 0; /* Adjust this value based on your image size */
  }
}


@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.hero-banner {
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: center;
  z-index: 1;
  overflow-x: hidden;
}

.hero-banner__title {
  color: #fff;
  font-size: 15rem;
  font-weight: 700;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}

.hero-banner__stroked-title {
  color: transparent;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}

.hero-banner__image {
  border-radius: 20px;
  position: fixed;
  transform: rotate(-15deg);
  width: 450px;
}

section.hero {
  /* position: fixed; */
  top:0px;
  /* z-index: -1; */
}

main {
  position: relative;
  background-color: transparent;
  z-index: 3;
  color:white
}

section.about{
  font-size: 40px;
  padding: 120px 80px;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 420px) {

  .hero-banner__title {
    font-size: 7rem;
    font-weight: 700;
    padding: 0 20px;
  }

  .clouds {
    animation: move-clouds-back 10s linear alternate-reverse; /* Additional random movement */
  }
  
  @keyframes move-clouds-back {
    from {
      background-position: 2000 0;
    }
    to {
      background-position: -500px 0; /* Adjust this value based on your image size */
    }
  }
}