@import url('https://fonts.googleapis.com/css2?family=Ruwudu:wght@600&family=Work+Sans:wght@100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  width: 100vw;
  overflow-x: hidden;

  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #424242; 
  border-radius: 8px;
}

.scrollable-place {
  height: 1000px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* Hero Animation*/
.stars,
.twinkling,
.clouds {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.stars {
  z-index: 0;
  /* background: transparent url("../../assets/images/background_1.png") repeat top center; */
}

.twinkling {
  z-index: 0;
  background: linear-gradient(to bottom, rgba(49, 183, 236, 0.5), rgba(24, 178, 239, 0.5)),
  url("../../assets/images/background_2.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 0;
  background: linear-gradient(to bottom, rgba(49, 183, 236, 0.5), rgba(24, 178, 239, 0.5)),
  url("../../assets/images/background_3.png") repeat top center;
  background-size: auto;
  animation: move-clouds-back 100s linear infinite;
  opacity: 1;
}

.hero .clouds:last-child {
  animation: move-clouds-back2 80s cubic-bezier(.46, .03, .52, .96) infinite;
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 0;
  }
}

@keyframes move-clouds-back2 {
  from {
    background-position: 500px 0;
  }

  to {
    background-position: -10000px 0;
  }
}


@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.hero-banner {
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: center;
  z-index: 5;
  overflow-x: hidden;
}

.hero-banner__title {
  color: #fff;
  font-size: 15rem;
  font-weight: 700;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}

.hero-banner__title2 {
  font-family: 'Ruwudu', serif;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 1.3rem;
  font-weight: 100;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 8rem;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.85); /* Add text shadow here */
}

.hero-banner__stroked-title {
  color: transparent;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}

.hero-banner__image {
  border-radius: 20px;
  position: fixed;
  transform: rotate(-15deg);
  width: 550px;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

section.hero {
  top: 0px;
  height: 100vh;
  width: 100vw;

  background-image: url("../../assets/images/forest-good.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  z-index: -10;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

main {
  width: 100vw;
  position: relative;
  background-color: transparent;
  z-index: 10;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: fit-content;
  padding-top: 145px;
}

.sec-gap {
  width: auto;
  height: 70vh;
}

.sec-con {
  width: 90vw;
  min-width: 90%;
  position: relative;
  background: rgba(0, 0, 0, 0.09);
  border-radius: 16px;
  backdrop-filter: saturate(100%) blur(4.2px);
  -webkit-backdrop-filter: saturate(100%) blur(4.2px);
  padding: 30px;
  outline: 15px solid hsla(194.1, 92.5%, 20.8%, 0.06);
  outline-offset: -7.5px;
  overflow-x: hidden;
}

.about {
  font-size: 40px;
}

@media (max-width: 420px) {

  .hero-banner__title {
    font-size: 6rem;
    font-weight: 700;
    padding: 0 20px;
  }

  .clouds {
    animation: move-clouds-back 50s linear alternate-reverse;
    background-size: cover;
  }

  .hero .clouds:last-child {
    animation: move-clouds-back2 30s cubic-bezier(.46, .03, .52, .96) infinite;
  }

  @keyframes move-clouds-back {
    from {
      background-position: 100 0;
    }

    to {
      background-position: -500px 0;
    }
  }

  @keyframes move-clouds-back2 {
    from {
      background-position: 500px 0;
    }

    to {
      background-position: -10000px 0;
    }
  }

  .hero-banner {
    z-index: 1;
  }

  .hero-banner__image {
    transform: rotate(-15deg) scale(0.7);
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    /* top :  21.4167px;
    right :  389px; */
  }

  main {
    padding: 20px;

    padding-top: 120px;
  }

}