@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");

header {
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 9;
    height: min-content;
    width:100vw;
}

.css1 {
    position: sticky;
    top: 120px;
}

.nav {
    display: inline-flex;
    position: relative;
    max-width: 100%;
    background-color: #171616;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(98, 59, 59, 0.8);

    z-index: 9;
}

.nav svg{
    display: none;
}

.nav .mobile-menu-logo{
    display: none;
}

.nav-item {
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    position: relative;
}

.nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%); /* Cutout shape */
}

.dropdown{
    display: none;
}

.dropdown-act{
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    top:80px;
    left:25%;

    min-height:100px;
    width:300px;
    transition: 0.3s;

    box-shadow: 0 10px 40px rgba(98, 59, 59, 0.8);
    z-index: 1;
}

.dropdown-act::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 25%;
    width: 50%;
    height: 7px;
    background-color: black;
    border-radius: 8px 8px 0 0;
    opacity: 1;
    transition: 0.3s;
    z-index: 2;
}

.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}

.nav-item:not(.is-active):hover {
    color: #c79999;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: 0.4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

@media (max-width: 428px) {
    header{
        /* border: 1px solid white; */
        width: min-content;
        height: auto;
        align-self: flex-start;

        justify-content: flex-start;
    }

    .nav {
        overflow: hidden;
        margin:10px 15px;
        width:3.5rem;
        height: 3.5rem;
        border-radius: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-shadow:  0 0 40px rgba(190, 152, 152, 0.9);

        cursor: pointer;
    }

    .nav-item, .nav-indicator{
        display: none;
    }

    .nav svg{
        display: block;
        height: 2.75rem;
        width: auto;
        fill:white
    }

    .nav svg path{
        fill: white;
    }

    .nav .mobile-menu-logo{
        display: block;
        height: 3.5rem;
        width: auto;
    }

    header:focus{
        height: 30vh;
    }

    .nav:focus{
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap:15px;
    }

    .nav:focus .nav-item{
        font-size: 1.3rem;
        display: block;
        min-width:35vw;
        padding:10px;
        background-color: azure;
        border-radius: 5px; 
        margin-left: 120px;   

        box-shadow:  0 0 40px rgba(190, 152, 152, 0.9);
    }

    .toggle{
        display: block;
    }
}

