@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");

header {
    position: fixed;
    top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
    height: min-content;
    width: 100vw;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;

    gap: 15px;
    padding: 0 10px;
}

.nav {
    display: inline-flex;
    position: relative;
    max-width: 100%;
    background-color: #171616;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(98, 59, 59, 0.8);

    z-index: 9;
    /* width: 33vw; */
}

.nav svg {
    display: none;
}

.nav .mobile-menu-logo {
    display: none;
}

.nav-item {
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    position: relative;
}

.nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: azure;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
}

.dropdown {
    display: none;
}

.dropdown-act {
    display: flex;
    position: absolute;
    background-color: azure;
    border-radius: 15px;
    top: 80px;
    left: 25%;

    min-height: 100px;
    width: 300px;
    transition: 0.5s;

    box-shadow: 0 10px 40px rgba(98, 59, 59, 0.8);
    z-index: 2;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    padding-bottom: 10px;
}

.dropdown-act::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 25%;
    width: 50%;
    height: 7px;
    background-color: #171616;
    border-radius: 8px 8px 0 0;
    opacity: 1;
    transition: 0.3s;
    z-index: 2;
}

.dropdown-item {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    width: 100%;
}

.dropdown-item:hover {
    background-color: #171616;
    color: azure;
    border-radius: 10px;
}

.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}

.nav-item:not(.is-active):hover {
    color: #c79999;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: 0.4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

.logo {
    height: 100px;
    /* background-color: #1716163d; */
    background: none !important;
    width: auto;
}

.logo-con {
    width: 30vw;
    padding: 10px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-con-mob {
    display: none;
}

.logo-con-mob-vit {
    display: none;
}

/* @media (max-width: 900px) {
    header {
        flex-wrap: wrap;
    }

    .nav{
        width:77vw;
        padding:0 3px;
        border-radius: 20px;
    }

    .logo-con{
        width:10vw;
        padding-left: 0;
    }

    .nav-indicator {
        position: absolute;
        left: 3px;
        bottom: 0px;
        height: 4px;
        transition: 0.4s;
        height: 5px;
        z-index: 1;
        border-radius: 8px 8px 0 0;
    }
} */

@media (max-width: 1024px) {
    header {
        width: 90vw;
        height: auto;
        align-self: center;
        justify-content: space-between;

        padding: 20px;
        flex-wrap: nowrap;

        margin: 10px;
        border-radius: 50px;
        background: rgba(0, 0, 0, 0.09);
        backdrop-filter: saturate(100%) blur(4.2px);
        -webkit-backdrop-filter: saturate(180%) blur(4.2px);

        left: 50%;
        transform: translateX(-50%);
    }

    .nav {
        overflow: hidden;
        /* margin: 10px 15px; */
        margin: 5px;
        width: 7.5vh;
        height: 7.5vh;
        border-radius: 7.5vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-shadow: 0 0 40px rgba(190, 152, 152, 0.9);

        cursor: pointer;
        padding: 0 1.75rem;

        gap: 5px;
    }

    .nav-item,
    .nav-indicator {
        display: none;
    }

    .nav svg {
        display: block;
        height: 2.75rem;
        width: auto;
        fill: azure
    }

    .nav svg path {
        fill: azure;
    }

    .nav .mobile-menu-logo {
        display: block;
        height: 7.5vh;
        width: auto;
    }

    .nav:focus .mobile-menu-logo {
        margin-bottom: 30px;
    }

    header:focus {
        height: 30vh;
    }

    .nav:focus {
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }

    .nav:focus .nav-item {
        font-size: 1.3rem;
        display: block;
        min-width: 30vw;
        padding: 10px;
        background-color: azure;
        border-radius: 5px;
        margin-left: 250px;
        
        box-shadow: 0 0 40px rgba(190, 152, 152, 0.9);
    }

    .toggle {
        display: block;
    }

    .dropdown-act {
        position: relative;
        font-size: 1.3rem;
        min-width: 35vw;
        min-height: fit-content;
        padding: 10px;
        background-color: azure;
        border-radius: 5px;
        margin-left: 310px;
        box-shadow: 0 0 40px rgba(190, 152, 152, 0.9);
        top: 0px;
    }

    .logo-con {
        display: none;
    }

    .logo-con-mob {
        display: flex;
        width: 15vw;
    }

    .logo-con-mob-vit {
        display: flex;
        width: 15vw;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }

    .logo-con-mob img {
        width: auto;
        height: 7.5vh;
    }

    .logo-con-mob-vit img {
        width: auto;
        height: 7.5vh;
    }
}

@media (max-width: 428px) {
    header {
        width: 95vw;
        height: auto;
        align-self: center;
        justify-content: space-around;

        padding: 10px;
        flex-wrap: nowrap;

        left: 50%;
        transform: translateX(-52%);
    }

    .nav {
        overflow: hidden;
        /* margin: 10px 15px; */
        margin: 5px;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-shadow: 0 0 40px rgba(190, 152, 152, 0.9);

        cursor: pointer;
        padding: 0 1.75rem;

        gap: 5px;
    }

    .nav-item,
    .nav-indicator {
        display: none;
    }

    .nav svg {
        display: block;
        height: 2.75rem;
        width: auto;
        fill: azure
    }

    .nav svg path {
        fill: azure;
    }

    .nav .mobile-menu-logo {
        display: block;
        height: 3.5rem;
        width: auto;
    }

    .nav:focus .mobile-menu-logo {
        margin-bottom: 20px;
    }

    header:focus {
        height: 30vh;
    }

    .nav:focus {
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }

    .nav:focus .nav-item {
        font-size: 1.3rem;
        display: block;
        min-width: 40vw;
        padding: 10px;
        background-color: azure;
        border-radius: 5px;
        margin-left: 50px;

        box-shadow: 0 0 40px rgba(190, 152, 152, 0.9);
    }

    .toggle {
        display: block;
    }

    .dropdown-act {
        position: relative;
        font-size: 1.3rem;
        min-width: 35vw;
        min-height: fit-content;
        padding: 10px;
        background-color: azure;
        border-radius: 5px;
        margin-left: 310px;
        box-shadow: 0 0 40px rgba(190, 152, 152, 0.9);
        top: 0px;
    }

    .logo-con {
        display: none;
    }

    .logo-con-mob {
        display: flex;
        width: 15vw;
        align-items: center;
        justify-content: center;
    }

    .logo-con-mob-vit {
        display: flex;
        width: 15vw;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }

    .logo-con-mob img {
        width: 15vw;
        height: auto;
    }

    .logo-con-mob-vit img {
        width: 35vw;
        height: auto;
    }
}